.controller.custom{
    background: url(face.png); 
    height: 650px;
    width: 720px;
}
.custom.disconnected {
    background: url(face.png);
}

.custom.disconnected div {
    display: none;
}
.custom .triggers{ 
    width: 566px;
    height: 91px;
    position: absolute;
    left: 80px;
    top: 24px;
}
.custom .trigger{
    height:91px;
    background: url(triggers.png);
    opacity: 0;
}

.custom .trigger.left{
    width: 128px; 
    float: left;
}
.custom .trigger.right{
    width: 123px;
    background-position: -150px 0;
    float: right;
}

.custom .bumper{
    width: 160px;
    height: 40px;
    background: url(bumpers.png);
    display: none;
}
.custom .bumpers{
    position: absolute;
    width: 579px;
    height: 40px;
    left: 72px;
    top: 118px;
}
.custom .bumper.pressed{
    display: block;
}
.custom .bumper.left{
    float: left;
}
.custom .bumper.right{
    background-position: -160px 0;
    width: 157px;
    float: right;
}

.custom .quadrant{
    position: absolute;
    background: url(pink.png);
    height: 17px;
    width: 111px;
    top: 303px;
    left: 240px;
    display: none;
}

.custom .p0{
    background-position: 0 -6px;
}
.custom .p1{
    background-position: 0 -28px;
}
.custom .p2{
    background-position: 0 -49px;
}
.custom .p3{
    background-position: 0 -70px;
}

.custom .arrows{
    position: absolute;
    width: 128px;
    height: 23px;
    top: 271px;
    left: 282px;
}

.custom .back, .custom .start{
    background: url(start.png);
    width: 59px;
    height: 22px;
    display: none;
}
.custom .back.pressed, .custom .start.pressed{
    display: block;
}
.custom .back{
    float: left;
}
.custom .start{
    float: right;
}
.custom .abxy{
    position: absolute;
    width: 190px;
    height: 160px;
    top: 203px;
    left: 470px;
}
.custom .button{
    position: absolute;
    width:58px;
    height:58px;
    background: url(face_button.png);
}
.custom .button.pressed{
    filter: invert(1);
}
.custom .a{
    top: 103px;
    left: 67px;
}
.custom .b{
    top: 51px;
    right: 0px;
}
.custom .x{
    top: 51px;
}
.custom .y{
    left: 67px;
}
.custom .sticks{
    position: absolute;
    width: 300px;
    height: 90px;
    top: 347px;
    left: 210px;
}
.custom .stick{
    position: absolute;
    background: url(stick.png);
    height:88px;
    width: 88px;
}
.custom .stick.pressed{
    filter: invert(1);
}
.custom .stick.left{
    top: 3px;
    left: 1px;
}
.custom .stick.right{
    top: calc(100% - 88px);
    left: calc(100% - 88px);
}
.custom .dpad{
    position: absolute;
    width: 125px;
    height: 124px;
    top: 221px;
    left: 92px;
}


.custom .face{
    background: url(dpad.png);
    position: absolute;
    display: none;
    /* width: 125px;
    height: 40px; */
}
.custom .face.up{
    width: 50px;
    height: 62px;
    left: 38px;
    top: 2px;
    background-position: -50px 0;
}
.custom .face.down{
    width: 50px;
    height: 62px;
    left: 40px;
    top: 64px;
}
.custom .face.left{
    width: 62px;
    height: 50px;
    top: 39px;
    left: 0;
    background-position: 0 -100px;
}
.custom .face.right{
    width: 62px;
    height: 50px;
    top: 39px;
    right: 1px;
    background-position: 0 -150px;
}
.custom .face.pressed{
    display: block;
}
